@import '../mixins.scss';

header {
    position: fixed;
    top: 0;
    padding-top: 15px;
    width: 100%;
    background-color: rgb(23, 23, 23);

    .title {
        color: white;
        font-size: 32px;

        @include user-select-none;
    }
}
