@import '../mixins.scss';

body {
    margin: 0;
    color: white;
    font-family: sans-serif;

    * {
        @include selection(rgb(130, 130, 130));
    }

    .page-container {
        display: grid;
        grid-template-rows: 1fr auto;
        margin-top: 52px; //header height
        min-height: calc(100vh - 52px); // 100vh - header height
        background-color: rgb(40, 40, 40);

        .content-container {
            margin: 0 auto;
            width: 1350px;
        }
    }
}
